<div>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a><i class="icon-settings"></i> Administration</a></li>
            <li class="breadcrumb-item active" aria-current="page">Calendrier des entretiens</li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-muted">Calendrier des entretiens</h4>
                <div class="control-section">
                    <div class="col-lg-9 content-wrapper">

                    </div>
                    <div class="col-lg-3 property-section">
                        <div class="property-panel-section">
                            <div class="property-panel-header">Properties</div>
                            <div class="property-panel-content">
                                <div id="property" class="property-panel-table" title="Properties">
                                    <table id="property1" title="Properties" style="width: 100%">
                                        <tbody>
                                        <tr style="height: 50px">
                                            <td style="width: 30%">
                                                <div>Current View
                                                </div>
                                            </td>
                                            <td style="width: 70%;">
                                                <div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
