<div>
    <nav style="height: 90px;" aria-label="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a><i class="icon-settings"></i> Administration</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Détails d'affaires</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
      <ul class="hList">
        <li>
          <div class="divDrop">
            <a class="menu">
              <h6 class="menu-title menu-title_2nd">{{busineesStatutDrop}}</h6>
              <ul class="menu-dropdown">
                <li (click)="dropdownSlected(c.businessStatusTitle,c.id)"
                    *ngFor="let c of busineesStatut">{{c.businessStatusTitle}}</li>
              </ul>
            </a>
          </div>
        </li>
        <li>
          <div class="divDrop">
            <a class="menu">
              <h6 class="menu-title">Actions</h6>
              <ul class="menu-dropdown">
                <li (click)="showPop(action)">Nouvelle Action</li>
              </ul>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-md-3">
          <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">
              <div class="profile-usertitle">
                <div class="profile-usertitle-name ng-binding">{{affaire.businessTitle}}</div>
                <div class="profile-usertitle-job"><span
                  class="label label-success ng-binding">{{affaire.businessDuration}} Jours</span>
                </div>
              </div>
              <!-- END SIDEBAR USER TITLE -->
              <!-- SIDEBAR BUTTONS -->
              <div class="profile-userbuttons">
                <button type="button" class="btn btn-circle btn-danger btn-sm ng-isolate-scope">Supprimer
                </button>
              </div>
              <!-- END SIDEBAR BUTTONS -->
              <!-- SIDEBAR MENU -->
              <div class="profile-usermenu">
                <div style="margin-left: 20px;">
                  <div class="margin-top-20 profile-desc-link" *ngIf="showDiv">
                    <i class="fas fa-house-damage"></i>
                    <a (click)="changeShowDiv(false)">Vue d'ensemble</a>
                  </div>
                  <div class="margin-top-20 profile-desc-link clicked" *ngIf="!showDiv">
                    <i class="fas fa-house-damage" style="color: white"></i>
                    <a (click)="changeShowDiv(false)" style="color: white">Vue d'ensemble</a>
                  </div>
                  <div class="margin-top-20 profile-desc-link" *ngIf="!showDiv">
                    <i class="fas fa-thumbtack"></i>
                    <a (click)="changeShowDiv(true)">Missions</a>
                  </div>
                  <div class="margin-top-20 profile-desc-link clicked" *ngIf="showDiv">
                    <i class="fas fa-thumbtack" style="color: white"></i>
                    <a (click)="changeShowDiv(true)" style="color: white">Missions</a>
                  </div>
                  <div class="margin-top-20 profile-desc-link">
                    <i class="fas fa-edit"></i>
                    <a (click)="navigatePage(id)">Editer</a>
                  </div>
                </div>
              </div>
              <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET MAIN -->
            <div class="portlet light">
              <!-- STAT -->
              <div class="row list-separated profile-stat">
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="uppercase profile-stat-title"> {{affaire.potentialTurnover}} </div>
                  <div class="uppercase profile-stat-text"> Chiffre d'affaire potentiel</div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="uppercase profile-stat-title"> {{affaire.realTurnover}} </div>
                  <div class="uppercase profile-stat-text"> Chiffre d'affaire réel</div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="uppercase profile-stat-title"> {{affaire.customerById.customerRating}} </div>
                  <div class="uppercase profile-stat-text"> Client Rating</div>
                </div>
              </div>
              <!-- END STAT -->
              <div>
                <h4 class="profile-desc-title">{{affaire.businessAbout}}</h4>
                <span class="profile-desc-text ng-binding"> {{affaire.businessEstimatedDate}} .  </span>
              </div>
            </div>
            <!-- END PORTLET MAIN -->
          </div>
        </div>
        <div class="col-md-9" style="padding-left: 60px">
          <div ui-view="" class="profile-content fade-in-up ng-scope">
            <div class="row ng-scope">
              <div class="col-md-12">
                <!-- BEGIN PORTLET -->
                <div class="portlet light " *ngIf="!showDiv">
                  <div class="portlet-title">
                    <div class="caption caption-md">
                      <i class="icon-bar-chart theme-font hide"></i>
                      <span class="caption-subject font-blue-madison bold uppercase"> CANDIDATS EN MISSION</span>
                    </div>
                  </div>
                  <div class="portlet-body">
                    <div class="table-scrollable table-scrollable-borderless">
                      <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                          <th scope="col">Mission</th>
                          <th scope="col">Candidat</th>
                          <th scope="col">DATE DE DÉBUT</th>
                          <th scope="col">DATE DE FIN</th>
                          <th scope="col">STATUT</th>
                          <th scope="col">PARTENAIRE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let c of missionS">
                          <td class="align-middle"
                              style="white-space: nowrap"> {{c.missionTitle}} </td>
                          <td>
                            <div *ngFor="let k of c.candidates" style="white-space: nowrap;">
                              <img
                                [src]="'data:image/png;base64,'+k.candidateAvatar"
                                class="width-25-per height-25-per roud-img"/>
                              <span class="badge badge-pill badge-success">{{k.candidateFullName.toString()}}</span>
                            </div>
                          </td>
                          <td> {{c.missionEstimatedDateStart}} </td>
                          <td>{{c.missionEstimatedDateFin}}</td>
                          <td><span class="label label-sm label-info"
                                    style="white-space: nowrap;"> {{c.missionStatusTitle}} </span>
                          </td>
                          <td> {{c.sourcersFullName}} </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <app-pagination [showPagination]="true"
                                    [numberOfItems]="numberOfItems"
                                    [itemsPerPage]="itemsPerPage"
                                    [totalItems]="totalElements"
                                    [totalPages]="totalPages"
                                    (onpageChanged)="pageChanged($event)"></app-pagination>
                  </div>
                </div>
                <div class="portlet light " *ngIf="showDiv">
                  <div class="portlet-title">
                    <div class="caption caption-md">
                      <i class="icon-bar-chart theme-font hide"></i>
                      <span class="caption-subject font-blue-madison bold uppercase">Missions</span>
                    </div>
                    <div style="float: right">
                      <a class="btn btn-circle"
                         style="background-color: #659be0;padding: 9px 10px;color: white;"
                         (click)="navigateMission(id)">Nouvelle Mission</a>
                    </div>
                  </div>
                  <div class="portlet-body">
                    <div class="table-scrollable table-scrollable-borderless">
                      <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                          <th scope="col">Titre<input (keyup)="onFiltred()" type="text"
                                                      class="form-control"
                                                      placeholder="Titre"
                                                      [(ngModel)]="filter.missionTitle"></th>
                          <th scope="col">DATE DE DÉBUT<input (change)="onFiltred()" type="text"
                                                              class="form-control"
                                                              placeholder="DATE DE DÉBUT"
                                                              [(ngModel)]="filter.missionEstimatedDateStart">
                          </th>
                          <th scope="col">Type<select (change)="onFiltred()" class="form-control"
                                                      style="height: calc(2.75rem + -1px);"
                                                      [(ngModel)]="filter.missionTypeTitle">
                            <option>Type ....</option>
                            <option *ngFor="let c of typeMissions">{{c.missionTypeTitle}}</option>
                          </select></th>
                          <th scope="col">Statut<select (change)="onFiltred()"
                                                        class="form-control"
                                                        style="height: calc(2.75rem + -1px);"
                                                        [(ngModel)]="filter.missionStatusTitle">
                            <option>Statut ....</option>
                            <option *ngFor="let c of missionStatus">{{c.missionStatusTitle}}</option>
                          </select></th>
                          <th scope="col" class="align-middle">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let c of missions">
                          <td>
                            <a class="primary-link"
                               style="white-space: nowrap;">{{c.missionTitle}}</a>
                          </td>
                          <td>
                            {{c.missionEstimatedDateStart}}
                          </td>
                          <td> {{c.missionTypeTitle}} </td>
                          <td><span class="label label-sm label-info"
                                    style="white-space: nowrap;"> {{c.missionStatusTitle}} </span>
                          </td>
                          <td><a (click)="navigateShowMission(c.id,id)"><i
                            class="fab fa-searchengin"></i></a> <a
                            (click)="navigateEditMission(id,c.id)"><i
                            class="far fa-edit"></i></a>
                            <a (click)="changeMissionObject(c);showPop(deleteTemplate)"><i
                              class="fas fa-trash-alt"></i></a></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <app-pagination [showPagination]="true"
                                    [numberOfItems]="numberOfItems"
                                    [itemsPerPage]="itemsPerPage"
                                    [totalItems]="totalElements"
                                    [totalPages]="totalPages"
                                    (onpageChanged)="pageChanged($event)">
                    </app-pagination>
                  </div>
                </div>
                <!-- END PORTLET -->
              </div>
            </div>

            <!-- BEGIN MAIN JS-->
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<ng-template #deleteTemplate>
    <div class="modal-header">
        <h4 class="modal-title">Merci de confirmer</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                Êtes-vous certain de vouloir supprimer?
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="delete()">Confirmer</button>
        <button type="button" class="btn btn-default" (click)="modelRef.hide()">Annuler</button>
    </div>
</ng-template>
<ng-template #action>
  <div class="modal-header">
    <h4 class="modal-title">Nouvelle Action</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <!-- TASK HEAD -->
        <div class="form">
          <!-- TASK TITLE -->
          <div class="form-group">
            <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Titre ..." [(ngModel)]="title"></div>
          <!-- TASK DESC -->
          <div class="form-group">
            <textarea class="form-control todo-taskbody-taskdesc" rows="2" placeholder="Description ..." [(ngModel)]="comment"></textarea>
          </div>
          <!-- END TASK DESC -->
          <!-- TASK DUE DATE -->
          <div class="form-group">
            <div class="input-icon">
              <i class="fa fa-calendar"></i>
              <input type="date" class="form-control todo-taskbody-due" placeholder="Date de début ..." [(ngModel)]="fencedDate"></div>
          </div>
          <!-- TASK DUE DATE -->
          <div class="form-group">
            <div class="input-icon">
              <i class="fa fa-calendar"></i>
              <input type="date" class="form-control todo-taskbody-due" placeholder="Date de fin ..." [(ngModel)]="deadlineDate"></div>
          </div>
          <!-- TASK Priority -->
          <div class="form-group">
            <select class="form-control" [(ngModel)]="priority">
              <option value="0" [disabled]="true">Priorité....</option>
              <option value="Urgent">Urgent</option>
              <option value="Important">Important</option>
              <option value="Normal">Normal</option>
            </select></div>

          <!-- TASK Status -->
          <div class="form-group">
            <select class="form-control" [(ngModel)]="responsibleString" (change)="changeResponsibleString()">
              <option value="0" [disabled]="true">Responsable....</option>
              <option value="candidates">Candidat</option>
              <option value="sourcers">Partenaire</option>
              <option value="customers">Client</option>
              <option value="contacts">Cantact</option>
            </select></div>
          <div class="form-group">
            <label>{{titleFieldDropdown}}</label>
            <ng-multiselect-dropdown
              [disabled]="titleFieldDropdown=='selectionner Responsable'"
              [placeholder]="'Selectionner .....'"
              [data]="responsibleIdSelect"
              [(ngModel)]="responsibleId"
              [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event)">
            </ng-multiselect-dropdown>
          </div>
          <div class="form-group">
            <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Category ..." [(ngModel)]="category"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn green" (click)="addAction();modelRef.hide()">Ajouter</button>
    <button type="button" class="btn btn-default" (click)="modelRef.hide()">Annuler</button>
  </div>
</ng-template>
